<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col-md-4 mb-2 mb-md-0 f-info-social">
                <a href="#" class="text-white me-3"><i class="fa-brands fa-square-facebook fa-lg"></i></a>
                <a href="#" class="text-white me-3"><i class="fa-brands fa-square-instagram fa-lg"></i></a>
                <a href="#" class="text-white"><i class="fa-brands fa-linkedin fa-lg"></i></a>
            </div>
            <div class="col-md-4 mb-2 mb-md-0 f-info-brand">
                &copy; Wanderlust Private Limited Developed By Sarvesh Kumar Yadav ❤️
            </div>
            <div class="col-md-4 f-info-links">
                <a href="/privacy" class="text-white me-3">Privacy</a>
                <a href="/terms" class="text-white">Terms</a>
            </div>
        </div>
    </div>
</footer>
